DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASS=
DATABASE_NAME=
PORT=3001

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3001/auth/github/callback
WEBHOOK_URL=https://xxxxx.ngrok-free.app/webhooks/github
GITHUB_WEBHOOK_SECRET=grepai_webhook_secret_123
JWT_SECRET=
CLAUDE_API_KEY=
CLAUDE_MODEL=claude-sonnet-4-20250514
FRONTEND_BASE_URL=http://localhost:3000
